:root {
  --dark: #181818;
  --primary-color: #facc15;

  --gray-100: #f5f5f5;
  --gray-300: #d4d4d4;
  --gray-500: #737373;
  --gray-700: #404040;
  --gray-900: #171717;

  --omni-theme-background: #191622;
  --omni-theme-green: #67E480;
  --omni-theme-pink: #FF79C6;
  --omni-theme-yellow: #E7DE79;
  --omni-theme-orange: #E89E64;
  --omni-theme-comment: #483C67;
  --omni-theme-cyan: #78D1E1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:disabled, button:disabled {
  cursor: not-allowed;
}

html, body {
  height: 100vh;
  background-color: var(--dark);
  color: var(--gray-100);
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.button_back_home {
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  background: rgb(221,176,0);
  background: linear-gradient(45deg, rgba(221,176,0,1) 0%, rgba(254,255,0,1) 100%);
}

.button_back_home:hover {
  background: linear-gradient(230deg, rgba(221,176,0,1) 0%, rgba(254,255,0,1) 100%);
  transform: scale(1.2);
}

.main_container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

/* Cards styles */

.card_container {
  width: 350px;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 4px;
  overflow: hidden;
}

.card_title {
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--dark);
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}

.card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 350px;
}

.result {
  color: var(--gray-300);
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0 1rem;
  margin-top: 1rem;
}

.resultNumber {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: -15px;
  padding: 0 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.card_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card_inputs label {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--gray-300);
}

.card_input {
  width: 80%;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--gray-900);
  font-weight: bold;
  outline-color: black;
  outline: transparent;
  border: 1px solid var(--gray-700);
  border-radius: 4px;
  color: var(--primary-color);
}

.card_input::placeholder{
  color: var(--gray-700);
  opacity: 1; 
}

.card_button {
  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--dark);
  font-size: 1.3rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.card_button:hover {
  filter: brightness(0.9);
}

.resultNumberList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.resultNumberItemList {
  background-color: var(--primary-color);
  color: var(--dark);
  border-radius: 8px;
  padding: 0.2rem;
  min-width: 50px;
  text-align: center;
}