@import '../../../../../../variables';

.home-section-info {
  .home-section-info-user {
    position: relative;
    font-size: 1.1rem;

    span {
      display: block;
    }

    a {
      text-align: center;
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;

      .aside-button-logout {
        font-size: 1.1rem;
        padding: 0.5rem 2rem;
      }
    }
  }

  .home-section-info-balance {
    margin-top: 3rem;

    span {
      font-size: 1.25rem;
      color: $gray-100;
      display: block;
      text-align: end;
    }
  }
}

.home-section-options {
  flex-direction: row;
  flex-wrap: wrap;

  button {
    background-color: transparent;
    border: none;
    font-family: 'Alexandria', sans-serif;
    font-size: 1rem;
    transition: all .4s;

    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 80px;
    }
}

  .home-section-options-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 1rem;
    color: $gray-100;
  }
}

.home-section-creditCard {
  .home-section-creditCard-content {

    & div:last-child {
      margin-top: 0.5rem;
    }
  }
}