body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #171923;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.backLink {
    padding: 0.5rem 1rem;
    background-color: #3182CE;
    border: 0;
    border-radius: 4px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 16px;
    transition: all 0.2s;
    color: #fff;
    text-decoration: none;
}

.backLink:hover {
    filter: brightness(0.9);
}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.belgium {
    text-align: center;
}

.belgium div {
    display: flex;
    width: 300px;
    height: 200px;
}

.black {

    background-color: black;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: darkblue;
}

.white {
    background-color: white;
}

.germany {
    text-align: center;
}

.germany div {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
}

.france {
    text-align: center;
}

.france div {
    display: flex;
    width: 300px;
    height: 200px;
}