.card_question {
  padding: 0 1rem;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.4;
  color: var(--gray-300);
}

.resultHeight {
  color: var(--primary-color);
  font-size: 2rem;
}

.calcHeightResultParagraph {
  border-right: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  font-size: 1.7rem;
  padding: 0 1rem;
}