main {
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

.main-search-and-product {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.main-search-and-product input,
.main-search-and-product button {
  padding: 0.5rem;
  border-radius: 4px;
}

.main-search-and-product input {
  border: none;
  flex: 1;
  outline: none;
  font-size: 1rem;
}

.main-search-and-product button {
  background-color: var(--green-600);
  color: var(--white);
  font-size: 1rem;
  transition: all .4s ease-in-out;
  font-weight: 600;
  border: none;
}

.main-search-and-product button:hover {
  filter: brightness(.9);
}

.product-list {
  margin-top:2rem;
}

.product-list ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  background-color: var(--gray-800);
  color: var(--gray-900);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0px 0px 8px 3px rgba(0,0,0,.5);
}

.product-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
  background-color: var(--gray-900);
  color: var(--white);
  border-radius: 4px;
  letter-spacing: 1.5px;
}

.list-item-title,
.list-item-delete {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.list-item-delete span {
  background-color: var(--orange-600);
  min-width: 100px;
  text-align: center;
  color: var(--white);
  padding: 0.3rem .5rem;
  border-radius: 4px;
  font-weight: 500;
}

.list-item-delete button {
  border: none;
  background-color: var(--red-600);
  padding: .125rem .25rem;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  outline-color: var(--red-600);
}

.list-item-delete button:hover {
  filter: brightness(.9);
}