{% extends 'base.html'%}
{% block head%}
  Home | {{ user['user']['name'] }}
{% endblock %}

{% block body %}

{# <main>
  <aside>
    <img src="{{ user['user']['avatar_url'] }}" alt="">
    <h1>{{ user['user']['name'] }}</h1>

    <p>{{ user['user']['bio'] }}</p>
  </aside>
</main> #}

<main>
  <aside>
    <img src="{{ user['user']['avatar_url'] }}" alt="Imagem pessoal">
    <h1>{{ user['user']['name'] }}</h1>

    <p>{{ user['user']['bio'] }}</p>
  </aside>

  <div class="container">
    <section>
      <h2>Sua pokedex</h2>

      <ul class="list">
        {% for pokemon in user['pokedex'] %}
          <li class="list-item">
            <img src="{{ pokemon.imageUrl }}" alt="">
            <h3>{{ pokemon.name }}</h3>
          </li>
        {% endfor %}
      </ul>      
    </section>

    <section>
      <h2>Personagens da sua série favorita (Rick And Morty)</h2>

      <ul class="list">
        {% for character in user['rickAndMorty'] %}
          <li class="list-item rick-and-morty">
            <img src="{{ character.imageUrl }}" alt="">
            <h3>{{ character.name }}</h3>
          </li>
        {% endfor %}
      </ul> 
    </section>

  </div>
</main>

{% endblock %}