.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow-x: hidden;

  h1 {
    margin-top: 3rem;
    font-size: 2.5rem;

    span {
      color: var(--primary-color);
      margin: 0;
      padding: 0;
    }
  }

  .home_subtitle {
    color: var(--primary-color);
    font-weight: bold;
  }

  section {
    display: flex;

    img {
      margin-top: 3rem;
      width: 100vw;
    }
  }
}

// Mobile

@media only screen and (max-width: 640px) {
  .main_container {
  
    padding: 0 1rem;

    h1 {
      margin-top: 1rem;
      font-size: 2rem;
      text-align: center;
    }
  
    .home_subtitle {
      text-align: center;
    }
  
    section {
  
      img {
        margin-top: 1rem;
      }
    }
  }
}