.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(103,232,249);
  background: linear-gradient(90deg, rgba(103,232,249,1) 0%, rgba(147,197,253,1) 100%);
}

.form_container {
  padding: 2rem;
  max-width: 600px;
  width: 100%;
  border-radius: 8px;
  background-color: #111827;
  color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  .form_warning {
    padding: 0.5rem;
    border-radius: 4px;
    color: #fecaca;
    background-color: #991b1b;
    line-height: 1.5rem;
  }
}

.form_pagaments {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;

  label {
    font-size: 1rem;
  }

  input {
    padding: 0.4rem;
    font-size: 0.9rem;
    background-color: var(--gray-100);
    border: 0;
    border-radius: 4px;
    color: var(--dark);
    outline-color: var(--secondary-color);
  }
}

.form-button {
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  background-color: var(--primary-color);
  font-size: 1.2rem;
  border: 0;
  color: var(--white);
  transition: all .2s;

  &:hover {
    filter: brightness(0.9);
  }
}

// Mobile

@media only screen and (max-width: 640px) {
  .container {
    padding: 0 1rem;
  }

  .form_container{
    padding: 1rem;
  }

  .form_pagaments {
    flex-direction: column;
  }
}